* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #3333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 14px;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.header-image {
  width: 100%;
  height: 300px;
}

.header-title {
  margin-top: 6px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.card {
  height: 260px;
  width: 200px;
  text-align: center;
  border: 1px 1px 1px solid black;
  border-style: solid;
}

.card img {
  height: 200px;
  width: 200px;
}
